@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import './variables';

*{
    box-sizing: border-box;
}

.card-deck {
    background-color: #F2F2F2;
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: $darkgrey;
    display: flex;
    flex-direction: column;
    padding: 10px;

    p {
        margin: 5px 0;
    }

    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
}