@import './variables';

.card {
    @media screen and (min-width: 600px){
        width: 250px;
    }
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px 10px 20px;
    margin: 10px;
    min-height: 300px;
    .card-header {
        display: flex;
        justify-content: space-between;
        max-height: 50px;
        align-items: flex-start;
        .card-logo {
            height: 50px;
            max-height: 50px;
            width: 50px;
            max-width: 50px;
            margin: 0;
            font-size: 18px;
            color: $green;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;

            &.initials {
                background-color:$passivegrey;
            }
        }
        .card-new {
            background: #EC1D24;
            border-radius: 3px;
            padding: 3px 8px;
            color: white;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0;
        }
    }
    .card-title {
        font-size: 18px;
        color: $green;
        font-weight: 700;
        margin-top: 20px;
    }
    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        border-top: 1px solid $passivegrey;
        padding-top: 10px;
        margin-top: auto;
    }
    .card-location {
        text-transform: uppercase;
    }
}